.sociallinks{
    background:rgba(0,0,0,0.8) !important;
    width:36px !important;
    height:36px !important;
    margin-right: 15px !important;
}

.sociallinks:hover{
    background:rgba(0,0,0,0.7)  !important;
    transform: scale(1.2);
}

.sociallinks:focus, .enterbtn:focus {
    outline: 0 !important
}

.enterbtn{
    color:white !important;
    border:3px solid white  !important;
    border-radius:0 !important;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,.1) !important;
    /*animation */
    opacity: 0;
    animation-name: opacity0to1;
    animation-delay: .8s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.enterbtn:hover{
    background:rgba(255,255,255,0.1) !important;
}

.enter-transition{
    opacity: 0;
    animation-name: opacity0to1;
    animation-delay: .3s;
    animation-duration: .8s;
    animation-fill-mode: forwards;
  }
